body{
  background-color: #5A88B8;
  margin: 0;
}

li {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}

a {
    text-decoration: none;
    color: #D7E0F1;
    padding: .5vw;
    font-family: Georgia, Times, "Times New Roman", serif;
}

a:hover {
    background-color: #2E4269;
}

nav {
    width: 100vw;
    background-color: #405580;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.plot-content {
	margin-top: 30px;
    margin-bottom: 60px;
    margin-right: -50%;
    margin-left: 30%;
	padding: 10px 30px 5px;
	color: #2E4269;
	background-color: #D7E0F1;
}

.content {
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 10px 30px 5px;
	color:#2E4269;
	background-color: #D7E0F1;
}


 .limitations-content {
	margin-top: 30px;
	margin-bottom: 60px;
	margin-right: 10%;
	padding: 10px 30px 40px;
	color: #2E4269;
	background-color: #D7E0F1;
} 

.moretime-content {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 3%;
	margin-left: 62.5%;
	padding: 10px 30px 40px;
	color: #2E4269;
	background-color: #D7E0F1;
}

.container1 {
	margin-left: 5%;
}

.compplot-content {
	margin-top: 30px;
	margin-bottom: 60px;
	margin-right: 40px;
	margin-left: 40px;
	padding: 10px 30px 40px;
	color: black;
	background-color: white;
}
.plot-header {
	padding-top: 15px; 
	padding-left: 4px;
	color: #2E4269;
	font-size: 26px;
	font-weight: bold;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.names {
	padding-left: 4px;
	color: #A0A5AF;
	font-size: 18px;
	font-family: Georgia, Times, "Times New Roman", serif;
}
  
#landing-image {
    text-align: rcenterelative;
    width: 100%;
    height: 50%;
  }

  #other-image {
    width: 100%;
    height: 100%;
  }

  #darkimage {
	  float: left;
	  width: 50%;
  }

  #lightimage {
	float: right;
	width: 50%;
}

#vis-image {
	float: left;
	width: 100%;
	height: 100%;
}

#comp-image {
	float: left;
	width: 90%;
	height: 90%;
}
.table{
	text-align: left;
}


.tablehead {
	word-wrap: normal;
}

.table-content {
	margin: 30px 10px 10px 10px;
	border: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	color: black;
	background-color: white;
}

tr:nth-child(odd) {
	background-color: #f2f2f2;
  }
.comp-title {
	padding:  10px 0px 0px 0px;
	text-align: center;
	margin-bottom: 0px;
	color: rgb(40, 164, 180);
	font-size: 20px;
	font-weight: bold;
	font-family: Georgia, Times, "Times New Roman", serif;
}

@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
